* {
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.mainbox {
    width: 500px;
    height: 900px;
    background-color: #eeeeee;
    margin: 0 auto;
    border: 0px solid;
    margin-top: 50px;
}

.title {
    font


}