 /* color scheme https://www.color-hex.com/color-palette/1023987 */

* {
    font-family: Arial, Helvetica, sans-serif;
}

.mainbox {
    width: 569px;
    height: 780px;
    background-color: #eeeeee;
    margin: 0 auto;
    border: 0px solid;
    margin-top: 50px;
}

.title {
    width: 549px;
    height: 50px;
    position: absolute;
    text-align: center;
    color: #7682af;
    font-size: 48px;
    margin: 20px 20px 20px 20px;
    border: 0px solid;
}

.image {
    width: 480px;
    height: auto;
}

@media (max-width: 480px) {
    .mainbox {
        width: 100%;
        height: auto;
        margin-top: 0;
    }
    
    .title {
        width: 100%;
        font-size: 32px;
        margin: 10px;
    }
    
    .image {
        width: 100%;
        height: auto;
    }
}