 /* color scheme https://www.color-hex.com/color-palette/1023987 */

* {
    font-family: Arial, Helvetica, sans-serif;
}

.mainbox {
    width: 360px;
    height: 700px;
    background-color: #eeeeee;
    margin: 0 auto;
    border: 0px solid;
    margin-top: 50px;
}

.title {
    width: 320px;
    height: 50px;
    position: absolute;
    text-align: center;
    color: #7682af;
    font-size: 40px;
    margin: 20px 20px 20px 20px;
    border: 0px solid;
}

.image {
    width: 320px;
    height: auto;

}